parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: tests/*
