parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::getEntityManager\(\)#'
            path: tests/*
