parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::getEntityManager\(\)#'
            path: tests/*
        -
            message: '#Undefined variable: \$this#'
            path: tests/*
